.board{
    position: relative;
    height: 552px;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    background-size: cover;
    background-image: url("../Boards-and-pieces/Board-Purple.png");
}
.piece{
    display: block;
    position: absolute;
    background-size: cover;
    cursor: grab;
    width: 69px;
    height: 69px;
    transition: 0.3s;
}
.hint{
    display: block;
    position: absolute;
    background-size: cover;
    cursor: pointer;
    width: 69px;
    height: 69px;
    background-color: rgba(255, 0, 0, 0.514);
}
.capture{
    display: block;
    position: absolute;
    background-size: cover;
    cursor: pointer;
    width: 69px;
    height: 69px;
    background-color: rgba(43, 255, 0, 0.514);
}
.selected{
    display: block;
    position: absolute;
    background-size: cover;
    cursor: pointer;
    width: 69px;
    height: 69px;
    /* background-color: rgba(255, 251, 0, 0.514); */
}
.hidden{
    display: none;
}
.no-transition{
    transition: 0s;
}
/* Black Pieces */
.bb{
    background-image: url(../Boards-and-pieces/Pieces/bb.png);
}
.bk{
    background-image: url(../Boards-and-pieces/Pieces/bk.png);
}
.bn{
    background-image: url(../Boards-and-pieces/Pieces/bn.png);
}
.bp{
    background-image: url(../Boards-and-pieces/Pieces/bp.png);
}
.bq{
    background-image: url(../Boards-and-pieces/Pieces/bq.png);
}
.br{
    background-image: url(../Boards-and-pieces/Pieces/br.png);
}
/* White Pieces */
.wb{
    background-image: url(../Boards-and-pieces/Pieces/wb.png);
}
.wk{
    background-image: url(../Boards-and-pieces/Pieces/wk.png);
}
.wn{
    background-image: url(../Boards-and-pieces/Pieces/wn.png);
}
.wp{
    background-image: url(../Boards-and-pieces/Pieces/wp.png);
}
.wq{
    background-image: url(../Boards-and-pieces/Pieces/wq.png);
}
.wr{
    background-image: url(../Boards-and-pieces/Pieces/wr.png);
}
/* A file */
.a1{
    transform: translateY(700%);
}
.a2{
    transform: translateY(600%);
}
.a3{
    transform: translateY(500%);
}
.a4{
    transform: translateY(400%);
}
.a5{
    transform: translateY(300%);
}
.a6{
    transform: translateY(200%);
}
.a7{
    transform: translateY(100%);
}
.a8{
    transform: translate(0);
}
/* B file */
.b1{
    transform: translate(100%,700%);
}
.b2{
    transform: translate(100%,600%);
}
.b3{
    transform: translate(100%,500%);
}
.b4{
    transform: translate(100%,400%);
}
.b5{
    transform: translate(100%,300%);
}
.b6{
    transform: translate(100%,200%);
}
.b7{
    transform: translate(100%,100%);
}
.b8{
    transform: translate(100%);
}
/* C file */
.c1{
    transform: translate(200%,700%);
}
.c2{
    transform: translate(200%,600%);
}
.c3{
    transform: translate(200%,500%);
}
.c4{
    transform: translate(200%,400%);
}
.c5{
    transform: translate(200%,300%);
}
.c6{
    transform: translate(200%,200%);
}
.c7{
    transform: translate(200%,100%);
}
.c8{
    transform: translate(200%);
}
/* D file */
.d1{
    transform: translate(300%,700%);
}
.d2{
    transform: translate(300%,600%);
}
.d3{
    transform: translate(300%,500%);
}
.d4{
    transform: translate(300%,400%);
}
.d5{
    transform: translate(300%,300%);
}
.d6{
    transform: translate(300%,200%);
}
.d7{
    transform: translate(300%,100%);
}
.d8{
    transform: translate(300%);
}
/* E file */
.e1{
    transform: translate(400%,700%);
}
.e2{
    transform: translate(400%,600%);
}
.e3{
    transform: translate(400%,500%);
}
.e4{
    transform: translate(400%,400%);
}
.e5{
    transform: translate(400%,300%);
}
.e6{
    transform: translate(400%,200%);
}
.e7{
    transform: translate(400%,100%);
}
.e8{
    transform: translate(400%);
}
/* F file */
.f1{
    transform: translate(500%,700%);
}
.f2{
    transform: translate(500%,600%);
}
.f3{
    transform: translate(500%,500%);
}
.f4{
    transform: translate(500%,400%);
}
.f5{
    transform: translate(500%,300%);
}
.f6{
    transform: translate(500%,200%);
}
.f7{
    transform: translate(500%,100%);
}
.f8{
    transform: translate(500%);
}
/* G file */
.g1{
    transform: translate(600%,700%);
}
.g2{
    transform: translate(600%,600%);
}
.g3{
    transform: translate(600%,500%);
}
.g4{
    transform: translate(600%,400%);
}
.g5{
    transform: translate(600%,300%);
}
.g6{
    transform: translate(600%,200%);
}
.g7{
    transform: translate(600%,100%);
}
.g8{
    transform: translate(600%);
}
/* H file */
.h1{
    transform: translate(700%,700%);
}
.h2{
    transform: translate(700%,600%);
}
.h3{
    transform: translate(700%,500%);
}
.h4{
    transform: translate(700%,400%);
}
.h5{
    transform: translate(700%,300%);
}
.h6{
    transform: translate(700%,200%);
}
.h7{
    transform: translate(700%,100%);
}
.h8{
    transform: translate(700%);
}
/* Flipped A file*/
.flipped-a1{
    transform: translate(700%);
}
.flipped-a2{
    transform: translate(700%,100%);
}
.flipped-a3{
    transform: translate(700%,200%);
}
.flipped-a4{
    transform: translate(700%,300%);
}
.flipped-a5{
    transform: translate(700%,400%);
}
.flipped-a6{
    transform: translate(700%,500%);
}
.flipped-a7{
    transform: translate(700%,600%);
}
.flipped-a8{
    transform: translate(700%, 700%);
}
/* Flipped B file */
.flipped-b1{
    transform: translate(600%);
}
.flipped-b2{
    transform: translate(600%,100%);
}
.flipped-b3{
    transform: translate(600%,200%);
}
.flipped-b4{
    transform: translate(600%,300%);
}
.flipped-b5{
    transform: translate(600%,400%);
}
.flipped-b6{
    transform: translate(600%,500%);
}
.flipped-b7{
    transform: translate(600%,600%);
}
.flipped-b8{
    transform: translate(600%, 700%);
}
/* Flipped C file */
.flipped-c1{
    transform: translate(500%);
}
.flipped-c2{
    transform: translate(500%,100%);
}
.flipped-c3{
    transform: translate(500%,200%);
}
.flipped-c4{
    transform: translate(500%,300%);
}
.flipped-c5{
    transform: translate(500%,400%);
}
.flipped-c6{
    transform: translate(500%,500%);
}
.flipped-c7{
    transform: translate(500%,600%);
}
.flipped-c8{
    transform: translate(500%,700%);
}
/* Flipped D file */
.flipped-d1{
    transform: translate(400%);
}
.flipped-d2{
    transform: translate(400%,100%);
}
.flipped-d3{
    transform: translate(400%,200%);
}
.flipped-d4{
    transform: translate(400%,300%);
}
.flipped-d5{
    transform: translate(400%,400%);
}
.flipped-d6{
    transform: translate(400%,500%);
}
.flipped-d7{
    transform: translate(400%,600%);
}
.flipped-d8{
    transform: translate(400%,700%);
}
/* Flipped E file */
.flipped-e1{
    transform: translate(300%);
}
.flipped-e2{
    transform: translate(300%,100%);
}
.flipped-e3{
    transform: translate(300%,200%);
}
.flipped-e4{
    transform: translate(300%,300%);
}
.flipped-e5{
    transform: translate(300%,400%);
}
.flipped-e6{
    transform: translate(300%,500%);
}
.flipped-e7{
    transform: translate(300%,600%);
}
.flipped-e8{
    transform: translate(300%,700%);
}
/* Flipped F file */
.flipped-f1{
    transform: translate(200%);
}
.flipped-f2{
    transform: translate(200%,100%);
}
.flipped-f3{
    transform: translate(200%,200%);
}
.flipped-f4{
    transform: translate(200%,300%);
}
.flipped-f5{
    transform: translate(200%,400%);
}
.flipped-f6{
    transform: translate(200%,500%);
}
.flipped-f7{
    transform: translate(200%,600%);
}
.flipped-f8{
    transform: translate(200%,700%);
}
/* Flipped G file */
.flipped-g1{
    transform: translate(100%);
}
.flipped-g2{
    transform: translate(100%,100%);
}
.flipped-g3{
    transform: translate(100%,200%);
}
.flipped-g4{
    transform: translate(100%,300%);
}
.flipped-g5{
    transform: translate(100%,400%);
}
.flipped-g6{
    transform: translate(100%,500%);
}
.flipped-g7{
    transform: translate(100%,600%);
}
.flipped-g8{
    transform: translate(100%,700%);
}
/* Flipped H file */
.flipped-h1{
    transform: translate(0);
}
.flipped-h2{
    transform: translateY(100%);
}
.flipped-h3{
    transform: translateY(200%);
}
.flipped-h4{
    transform: translateY(300%);
}
.flipped-h5{
    transform: translateY(400%);
}
.flipped-h6{
    transform: translateY(500%);
}
.flipped-h7{
    transform: translateY(600%);
}
.flipped-h8{
    transform: translateY(700%);
}